section.apresentacao {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(to bottom, black, #957a56);
}

section.apresentacao .texto {
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
}

section.apresentacao .texto h2 {
  font-size: 2em;
  padding-bottom: 20px;
}

section.apresentacao .texto p {
    color: var(--cor-branco);
    font-size: 1.2em;
    opacity: 0.7;
}

section.apresentacao .imagem {
    text-align: center;
    justify-content: center;
    width: 100%;
}

section.apresentacao .imagem img {
    border-radius: 20px;
    max-width: 450px;
    padding-top: 40px;
}

/* responsaivo */

@media screen and (max-width: 1000px) {
    section.apresentacao {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    padding: 30px;
 }

 section.apresentacao .texto h2 {
  color: var(--cor-branco);
  opacity: 0.7;
}

section.apresentacao .texto p {
    color: var(--cor-preto);
}

  section.apresentacao .imagem {
    text-align: center;
    justify-content: center;
    width: 100%;
 }

  section.apresentacao .imagem img {
    border-radius: 0;
    max-width: 200px;
 }

}